body {
    font-family: "Saira", sans-serif;
}

h1 {
    font-size: 75px;
    font-family: "Saira", sans-serif;
    font-weight: 800;
}

h2 {
    font-size: 36px;
    font-weight: 600;
}

h3,
body {
    font-weight: 400;
}

.jumbotron {
    color: black;
    background-image: url(./notebook.jpg);
    background-size: cover;
}

.employee-card {
    margin: 15px;
}

.card-header {
    /* background-color: gray;
    color: white; */
}
